body {
  padding-top: 5rem;
  font-size: 1.3rem;
  background-color: #68bbe3;
}

.header {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  color: #7da8c5;
}

/* Table */
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #a9e0fc;
}
.table th:hover,
.table td:hover {
  background-color: #48a7d6;
}
th {
  text-align: center !important;
  vertical-align: middle !important;
  background-color: #7da8c5;
}

td {
  max-width: 300px;
  word-wrap: break-word;
  border: none;
  text-align: center !important;
  vertical-align: middle !important;
}
